# Client-accessible (bundled in JavaScript at build time)
# Only use for truly public data like analytics IDs
NEXT_PUBLIC_APP_NAME="Vail"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
 
# Contentstack credentials
NEXT_PUBLIC_CONTENTSTACK_API_KEY=your_api_key_here
NEXT_PUBLIC_CONTENTSTACK_DELIVERY_TOKEN=your_delivery_token_here
NEXT_PUBLIC_CONTENTSTACK_PREVIEW_TOKEN=your_preview_token_here
NEXT_PUBLIC_CONTENTSTACK_ENVIRONMENT=preview
NEXT_PUBLIC_CONTENTSTACK_REGION=EU
NEXT_PUBLIC_CONTENTSTACK_PREVIEW=true

# For revalidate secret
REVALIDATE_SECRET=secret

# For theme
NEXT_PUBLIC_THEME=ocean

# For brand
NEXT_PUBLIC_BRAND=breckenridge #breckenridge, vail